    <main class="cf">
      <div id="image"><div id="image_in"></div></div>
      <div id="latest_post_news">
        <div id="search_box">
          <input type="text" placeholder="To search type and hit enter">
        </div>        
        <div id="latest">
          <h3><span>Latest Posts</span></h3>
          <ul>
            <li><a href="#">FDP on VSLI Digital Signal Processing</a></li>
          </ul>
          <h3><span>Latest News</span></h3>
          <!-- <ul>
            <li><a href="#"></a></li>
          </ul> -->
        </div>        
      </div>
      <div style="clear: both;"></div>
    </main>
    
